

.openerp .rallign {
/*
  text-align: right;
*/
  text-align: left;
}

/*
.openerp .oe_list_content th.oe_sortable, .openerp .oe_list_content th.oe_sortable div {
    cursor: pointer;

    text-align: right; 
}
*/




.jx_title{
	/*
	color:green;
	text-transform: capitalize;
	text-transform: lowercase;
	color:red;
	*/
	color:blue;
	text-transform: uppercase;
}
.jx_subtitle{
	color:red;
	color:blue;
	color:green;
}


/* Radio buttons */
/*
input[type="radio"]:checked{
    visibility:hidden;
}
input[type="radio"][value="none"]:checked{
    visibility:hidden;
}

*/

input[type="radio"][value="none"]{
    visibility:hidden;
}

.jx_radio {
/*
padding: 8px 8px;
min-height: 100px;
margin: 12px 0px 12px 0px;
width: 210px;
height: 100px;
*/
color:black;
}







.o_progressbar .o_progress .o_progressbar_complete.o_progress_gt_fty {
  background-color: #456325;
  height: 100%;
}

.o_progressbar .o_progress .o_progressbar_complete.o_progress_lt_fty {
  background-color: #000000;
  height: 100%;
}








