
/*
input[type="radio"]:checked{
    visibility:hidden;
}

input[type="radio"][value="none"]:checked{
    visibility:hidden;
}

*/


input[type="radio"][value="none"]{
    visibility:hidden;
}




.jx_radio {
/*
padding: 8px 8px;
min-height: 100px;
margin: 12px 0px 12px 0px;
width: 210px;
height: 100px;
*/
color:black;
}

