<?xml version="1.0"?>
<openerp>
	<data>


		<!--
		order - events
		-->
		<record model="ir.ui.view" id="order_event_form_view">
			<field name="name">order.event.form</field>
			<field name="model">sale.order</field>
			

			<field name="priority" eval="2"/>
			

			<field name="inherit_id" ref="sale.view_order_form"/>
			<field name="arch" type="xml">



				<notebook position="inside">
					


							<!--
								 events
							-->

							<page string="Anulaciones">



								<field name="event_ids">
									

									<!--
									<tree editable="bottom">										
	                                -->
									<tree string="Métodos de Pago">										
										
										<field  name="name"		string="Anulación"	/>
											
										<field  name="x_type"/>

										<field  name="message"/>

										<field  name="owner"/>



																				
										<!-- Hot Button -->
										<!--
										<button 
											type="object" 
											class="oe_highlight"	
											string="E"
											name="open_line_current" 
										/>
										-->
									</tree>
								

								</field>




							<button 
								type="object" 
								class="oe_highlight"	

								string="Crear Línea"
						
								name="create_event" 	
							/>

							</page>



				</notebook>
			</field>
		</record>
	</data>
</openerp>
